In [1]:
import pandas as pd

In [7]:
path = "Bengaluru_House_Data.csv"
df=pd.read_csv(path)

In [8]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [10]:
df.shape

(13320, 9)

In [13]:
#split data
X=df.drop('price',axis=1)
y=df['price']

print('shape of x=',X.shape)
print('shape of y=',y.shape)

shape of x= (13320, 8)
shape of y= (13320,)

In [14]:
#train test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=51)

print('shape of X_train=',X_train.shape)
print('shape of X_test=',X_test.shape)
print('shape of y_train=',y_train.shape)
print('shape of y_test=',y_test.shape)

shape of X_train= (10656, 8)
shape of X_test= (2664, 8)
shape of y_train= (10656,)
shape of y_test= (2664,)